/* 
  ========================================================================== */
/* Edit User
  ==========================================================================
   */

   .divBorderBlue {

  
    &__frame {
      position: absolute;
      border: 0em;
      background-color: transparent;
      width: 5.25em;
      height: 5.25em;
      margin-right: 2em;
    }
   
    &__frame--img{
      border: 0em;
      background-color: transparent;
      width: 5.2em;
      height: 5.2em;
      margin-right: 2em;

    }
    
  }

   .btnsEdit__cancel {
    @include buttons();
    border: 0em;
    color:  red;
    opacity: 0.8;
    background-color: transparent;

   }


   .btnsEdit__save {
    @include buttons();
    margin-left: 2em;
    background:  $green;
    border-radius: 2px;
    border: $green;
    width: 11em;
    color: $white;
   
  }