  /* 
  ========================================================================== */
  /* SEARCH
  ==========================================================================
   */
  
   .searchSection{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin: 1em;
    left: 3%;
    right: 3%
  }

  .search__tittle {
    @include h2();
  }

   /*   Input Search   */

  .search {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__bar {
        margin: 0;
        position: relative;
        display: flex;
        flex-direction: row;
    }

    &__input {
        border: $border_buttons;
        border-radius: 3.5px;
        color: $blue;
        width: 31.375em;
        height: 2.75em;
        margin-right: 0.3em;

    }
     /*   Input Search   */

    &__container {
        display: flex;
        flex-direction: row;
    }

     /*   Carret down button   */

    &__carret-down {
        border: 0em;
        background-color: transparent;
        color: rgba(0,0,0,0.54);
        position: absolute;
        left: 92%;
        top: 25%;
        font-size: 20px;
        outline: none;
        cursor: pointer;
    }

     /*   search button   */

    &__submit {
        border: $border_buttons;
        border-radius: 3.5px;
        background-color: transparent;
        color: $blue;
        width: 3em;
        height: 3em;
        cursor: pointer;

    }

    &__submit:hover { 
      color:#0683f9;
      
    }

    
 
  }


  /*   Buttons - buttons to the right of the search bar */
  

  .btns {
    margin-right: 9%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    &__import {
      @include buttons();
      border: $border_blue;
      background-color: transparent;
      width: 3em;
      margin-right: 0.3em;
      display: flex;
      position: relative;
      align-items: center;
      
    }
  
    &__import--img {
        width: 1.2em;
        height: 1.2em;
        margin-left: 0.2em;
    }
  
  
    &__export {
      @include buttons();
      border: $border_blue;
      background-color: transparent;
      color: $blue;
      width: 11em;
      margin-right: 0.3em;
    }
  
    &__export:hover {
      color: #0683f9;
    }
  
    &__export:active {
      position: relative;
      top: 1px;
    }
  
    &__new {
      @include buttons();
      border: $border_blue;
      background-color: $blue;
      color: $white;
      width: 11em;
    }
  
    &__new:hover {
      background-color: #0683f9;
    }
  
    &__new:active {
      position: relative;
      top: 1px;
    }
  }
  
  .uploadImage {
    height: 1.2em;
    width: 1.2em;
    z-index: 1;
  }
  
  /*   Font Awesome   */
  
  .fas {
    color: $blue;
  }
  
  .inactiveBtn {
      display: flex;
  }
  
