<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Data Warehouse Acámica Project - DianaP3</title>
    <meta name="title" content="Data Warehouse Acámica Project">
    <meta name="description" content="Data Warehouse Acámica Project">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="icon" sizes="32x32" href="../assets/data-storage-svgrepo-com.svg" type="image/svg+xml">
    <link rel="stylesheet" href="../styles/normalize.css">
    <link rel="stylesheet" href="../styles/styles.css">

</head>
  <body>
    
    <div class="newUserContent">

      <!-- HEADER - NAV -->

      <header class="newUserHeader" id="header">

            <h2 class="newUserHeader__tittle">Editar Usuario</h2>
            <button class="newUserHeader__close"> x </button>

      </header>

      <section class="newUser__Form" >

          <div class="newUserForm"> 
             <!-- Blue Square -->
            <div class="divBorderBlue"> 
              <button class="divBorderBlue__imgBtn">
                <img src="../assets/avatar_frame.png" alt="User Frame" class="divBorderBlue__frame"/>
                <img src="../assets/bono.png" alt="User Image" class="divBorderBlue__frame--img"/>
              </button>
              
              <div class="divBorderBlue__input">
                <label for="userName" class="input__label">Nombre:<span class="input__required">*</span></label>
                <input id="userName" class="input__input" type="text" name="userName" tabindex="1" required>
                <label for="userName" class="input__required hidden">Este campo es obligatorio</label>
                <label for="userName" class="input__required hidden">Error en datos ingresados</label>
              </div>
              <div class="divBorderBlue__input">
                <label for="userLastname" class="input__label" >Apellido:<span class="input__required">*</span></label>
                <input id="userLastname" class="input__input" type="text" name="userLastname" tabindex="2" required>
                <label for="userLastname" class="input__required hidden">Este campo es obligatorio</label>
                <label for="userLastname" class="input__required hidden">Error en datos ingresados</label>
              </div>
              <div class="divBorderBlue__input">
                <label for="userEmail" class="input__label">Email:<span class="input__required">*</span></label>
                <input id="userEmail" class="input__input" type="email" name="userEmail" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" tabindex="3" required>
                <label for="userEmail" class="input__required hidden">Este campo es obligatorio</label>
                <label for="userEmail" class="input__required hidden">Error en datos ingresados</label>
              </div>
              
  
            </div>

            <div class="newUser__selects">
              <!-- Inputs: Profile - Status   -->
              <div class="divBorderBlue__selects">
                <label for="userProfile" class="input__label">Perfil del Usuario: </label>
                <div class="divSelectEnabled">
                  <select id="userProfile" class="selectEnabled" name="userProfile" tabindex="4" aria-placeholder="Seleccionar Perfil">
                    <option selected disabled>Seleccionar Perfil</option>
                    <option value="Admin">Administrador</option>
                    <option value="Basic">Básico</option>
                  </select>
                </div>
            </div>

            <div class="divBorderBlue__selects">
              <label for="userProfile" class="input__label">Estado del Usuario: </label>
              <div class="divSelectEnabled">
                <select  id="userStatus" class="selectEnabled" name="userStatus" tabindex="5" aria-placeholder="Seleccionar Estado" >
                  <option selected disabled>Seleccionar Estado</option>
                  <option value="Enabled">Activo</option>
                  <option value="Disabled">Inactivo</option>
                </select>
              </div>
          </div>


            </div>
            
            
            <!-- Buttons - Cancel - Save -->
            <div class="divFormButtons">
               <!-- btnEnabled; Hay una clase btnEnabled, para mostrar el boton habilitado -->
              <button class="btnsEdit__cancel" id="cancelBtn" value="cancel">
                Eliminar Contacto </button>
           
              <button class="btnsEdit__save" id="saveBtn" value="save">
                Guardar Usuario </button>
              
            </div>


          </div>
        
      </section>

    </div>

    <script src="https://kit.fontawesome.com/7396023e43.js" crossorigin="anonymous"></script>
    <script type="module" src="../scripts/main_userRegister.js"></script>

  </body>
</html>